//- script(src='/assets/js/lib/jquery-1.11.1.min.js')
//- script(src='/assets/js/lib/moment-with-langs.min.js')
//- script(src='/assets/js/lib/lodash.min.js')
//- script(src='/assets/js/lib/backbone-events.js')
//- script(src='/assets/js/lib/promise-1.0.0.min.js')
//- script(src='/assets/js/lib/vue.min.js')
