/*doc
---
title: m-header
name: m-header
category: memorin
---


```block
<header class="m-header">
  <div class="m-header__title">
    MEMORIN
  </div>
</header>
```

*/

.m-header
  padding: 15px 0 0
  text-align: center
  margin: 0 auto 10px
  
  .m-header__title
    color: #CFCFCF
    line-height: 60px
    font-size: 60px
