.m-footer {
  padding: 15px 0 0;
  text-align: center;
  margin: 0 auto 10px;
}
.m-footer .m-footer__title {
  color: #cfcfcf;
  line-height: 60px;
  font-size: 60px;
}
.m-header {
  padding: 15px 0 0;
  text-align: center;
  margin: 0 auto 10px;
}
.m-header .m-header__title {
  color: #cfcfcf;
  line-height: 60px;
  font-size: 60px;
}
.m-memos {
  padding: 5px;
  background-color: rgba(0,0,0,0.2);
}
.m-memos .m-memos__list {
  margin: 0;
  padding: 0;
}
.m-memos .m-memos__list .m-memos__item {
  border: 1px solid #95cbb2;
  padding: 5px;
  position: relative;
  margin: 5px;
  display: inline-block;
  vertical-align: bottom;
  box-sizing: border-box;
  line-height: 1.25;
  word-break: break-all;
  width: 140px;
  min-height: 140px;
}
.m-memos .m-memos__list .m-memos__item [contenteditable] {
  height: 100%;
}
.m-memos .m-memos__list .m-memos__item [contenteditable]:focus {
  outline: 0px solid transparent;
}
html,
body {
  margin: 0;
  padding: 0;
}

.color1 {
  background: #1abc9c;
}
.color2 {
  background: #16a085;
}
.color3 {
  background: #2ecc71;
}
.color4 {
  background: #27ae60;
}
.color5 {
  background: #3498db;
}
.color6 {
  background: #2980b9;
}
.color7 {
  background: #9b59b6;
}
.color8 {
  background: #8e44ad;
}
.color9 {
  background: #34495e;
}
.color10 {
  background: #2c3e50;
}
.color11 {
  background: #f1c40f;
}
.color12 {
  background: #f39c12;
}
.color13 {
  background: #e67e22;
}
.color14 {
  background: #d35400;
}
.color15 {
  background: #e74c3c;
}
.color16 {
  background: #c0392b;
}
.color17 {
  background: #95a5a6;
}
.color18 {
  background: #7f8c8d;
}
