.m-footer {
  padding: 15px 0 0;
  text-align: center;
  margin: 0 auto 10px;
}
.m-footer .m-footer__title {
  color: #cfcfcf;
  line-height: 60px;
  font-size: 60px;
}
.m-header {
  padding: 15px 0 0;
  text-align: center;
  margin: 0 auto 10px;
}
.m-header .m-header__title {
  color: #cfcfcf;
  line-height: 60px;
  font-size: 60px;
}
.m-memos {
  padding: 5px;
  background-color: rgba(0,0,0,0.2);
}
.m-memos .m-memos__list {
  margin: 0;
  padding: 0;
}
.m-memos .m-memos__list .m-memos__item {
  border: 1px solid #95cbb2;
  padding: 5px;
  position: relative;
  margin: 5px;
  display: inline-block;
  vertical-align: bottom;
  box-sizing: border-box;
  line-height: 1.25;
  word-break: break-all;
  width: 140px;
  min-height: 140px;
}
.m-memos .m-memos__list .m-memos__item [contenteditable] {
  height: 100%;
}
.m-memos .m-memos__list .m-memos__item [contenteditable]:focus {
  outline: 0px solid transparent;
}
html,
body {
  margin: 0;
  padding: 0;
}
