extends _layout/_base
block vars
  - var title = "super awesome page!!!"
  - var description = "super super"
  - var wrapperId = "m-app"
  - var wrapperClass = "m-app"

block header
  p aaa
block footer
  p footerdayo
block contents
  include _layout/mod/m-memos
block js
  script(src="assets/js/lib/lib.js")
  script(src="assets/js/main.js")
