extends _layout/_base
block vars
  - var title = "super awesome page!!!"
  - var description = "super super"
  - var wrapperId = "m-app"
  - var wrapperClass = "m-app"

block header
    
block contents
  include _mod/m-memos
  
block footer
block js
  script(src="assets/js/lib/lib.js")
  script(src="assets/js/main.js")
